<!-- start: MAIN NAVIGATION MENU -->
<div class="navbar-title">
	<span>Menú Principal</span>
</div>
<ul class="main-navigation-menu">
	<li ui-sref-active="active">
		<a ui-sref="app.inicio">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-home"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Inicio </span>
				</div>
			</div>
		</a>
	</li>
	<li ui-sref-active="active" ng-if="user.admin=='SI'">
		<a ui-sref="app.metas">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-thumb-up"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Metas </span>
				</div>
			</div>
		</a>
	</li>
	<li ui-sref-active="active" ng-if="user.invpros=='SI'">
		<a ui-sref="app.prospeccion">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-headphone-alt"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Prospección </span>
				</div>
				</div>
		</a>
	</li>
	<li ui-sref-active="active" ng-if="user.invpros=='SI'">
		<a ui-sref="app.calendario({tipo: 'ejecutivo'})">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-calendar"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Calendario del Ejecutivo</span>
				</div>
			</div>
		</a>
	</li>
	<li ng-class="{'active open':$state.includes('app.base')}" ng-if="user.admin=='SI'">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-harddrives"></i>
				</div>
				<div class="item-inner">
					<span class="title" > Base de Datos </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ui-sref-active="active">
				<a ui-sref="app.base.abcempresas">
					<span class="title" > ABC Empresas </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.base.asigempresas">
					<span class="title" > Asignación de Empresas </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.base.exportmailing">
					<span class="title" > Exportar para Mailing </span>
				</a>
			</li>
		</ul>
	</li>
	<li ng-class="{'active open':$state.includes('app.dashboard')}" ng-if="user.tablerocontrol=='SI'">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-panel"></i>
				</div>
				<div class="item-inner">
					<span class="title" > Dashboard </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ui-sref-active="active">
				<a ui-sref="app.calendario({tipo: 'administrador'})">
					<span class="title" > Calendario del Equipo </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.dashboard.dashboard1">
					<span class="title" > Operación Diaria </span>
				</a>
			</li>
			<!-- <li ui-sref-active="active">
				<a ui-sref="app.dashboard.dashboard3">
					<span class="title" > Metas </span>
				</a>
			</li> -->
			<li ui-sref-active="active">
				<a ui-sref="app.dashboard.metasmensual">
					<span class="title" > Metas Mensual </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.dashboard.dashboard5">
					<span class="title" > Totales x Tipificación </span>
				</a>
			</li>
		</ul>
	</li>
	<!--
	<li ui-sref-active="active" ng-if="user.invpros=='SI'">
		<a ui-sref="app.ABCEmpresas">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-layers-alt"></i>
				</div>
				<div class="item-inner">
					<span class="title"> ABC Empresas </span>
				</div>
			</div>
		</a>
	</li>-->
</ul>
<!-- end: MAIN NAVIGATION MENU -->
<!-- start: MENU ADMINISTRACIÓN -->
<!--
<div class="navbar-title" ng-if="user.admin=='SI'">
	<span>Administración</span>
</div>
<ul class="main-navigation-menu" ng-if="user.admin=='SI'">
	<li ng-class="{'active open':$state.includes('app.catalogos')}" ng-if="1==0">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-settings"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Catálogos </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ui-sref-active="active">
				<a ui-sref="app.catalogos.giros">
					<span class="title"> Giros Comerciales </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.catalogos.servicios">
					<span class="title"> Servicios de Interés </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.catalogos.tiposlead">
					<span class="title"> Tipos de Lead </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.catalogos.calificacionesinv">
					<span class="title"> Calificaciones de Investigación </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.catalogos.estatuscalificacion">
					<span class="title"> Estatus de Calificación </span>
				</a>
			</li>
		</ul>
	</li>
	<li ng-class="{'active open':$state.includes('app.prospectos')}">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-server"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Base de Prospectos </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ui-sref-active="active" ng-if="1==0">
				<a ui-sref="app.prospectos.carga">
					<span class="title">Carga</span>
				</a>
			</li>
			<li ui-sref-active="active" ng-if="1==0">
				<a ui-sref="app.prospectos.consulta">
					<span class="title">Consulta General</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.prospectos.bitacora">
					<span class="title">Bitacora</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.prospectos.prospectos">
					<span class="title">ABC Empresas</span>
				</a>
			</li>
		</ul>
	</li>
	<li ng-class="{'active open':$state.includes('app.reglas')}" ng-if="1==0">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-panel"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Reglas de Negocio </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ui-sref-active="active">
				<a ui-sref="app.reglas.equipos">
					<span class="title">Equipos</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.reglas.asignacionpros">
					<span class="title">Asignación de Prospectos</span>
				</a>
			</li>
		</ul>
	</li>
	<li ui-sref-active="active" ng-if="1==0">
		<a ui-sref="app.evaluacion">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-pencil-alt"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Evaluación </span>
				</div>
			</div>
		</a>
	</li>
</ul>-->
<!-- end: MENU ADMINISTRACIÓN -->
<!-- start: MENU TABLERO CONTROL -->
<!--
<div class="navbar-title" ng-if="user.tablerocontrol=='SI'">
	<span>Tablero de Control</span>
</div>
<ul class="main-navigation-menu" ng-if="user.tablerocontrol=='SI'">
	<li ng-class="{'active open':$state.includes('app.tablerocontrol')}">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-stats-up"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Tablero de Control </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ui-sref-active="active">
				<a ui-sref="app.tablerocontrol.productividad">
					<span class="title">Productividad</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.tablerocontrol.resultados">
					<span class="title">Resultados</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.tablerocontrol.reportesemanal">
					<span class="title">Reporte Semanal</span>
				</a>
			</li>
		</ul>
	</li>
</ul>
-->
<!-- end: MENU TABLERO CONTROL -->
<!-- start: MENU CONTROL ACCESO -->

<div class="navbar-title" ng-if="user.admin=='SI' || user.user=='codigoti'">
	<span>Control de Acceso</span>
</div>
<ul class="main-navigation-menu" ng-if="user.admin=='SI' || user.user=='codigoti'">
	<li ui-sref-active="active">
		<a ui-sref="app.usuarios">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-user"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Usuarios </span>
				</div>
			</div>
		</a>
	</li>

<!--	<li ui-sref-active="active">
		<a ui-sref="app.privilegios">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-menu-alt"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Privilegios </span>
				</div>
			</div>
		</a>
	</li>-->
</ul>
<!-- end: MENU CONTROL ACCESO -->


