<!-- start: TOP NAVBAR -->
<!-- start: NAVBAR HEADER -->
<div class="navbar-header">
	<a href="#" class="sidebar-mobile-toggler pull-left hidden-md hidden-lg" ng-click="toggle('sidebar')" class="btn btn-navbar sidebar-toggle">
		<i class="ti-align-justify"></i>
	</a>
	<a class="navbar-brand" ui-sref="app.inicio">
		<img ng-src="{{app.layout.logo}}" alt="{{app.name}}"/>
	</a>
	<a href="#" class="sidebar-toggler pull-right visible-md visible-lg" ng-click="app.layout.isSidebarClosed = !app.layout.isSidebarClosed">
		<i class="ti-align-justify"></i>
	</a>
	<a class="pull-right menu-toggler visible-xs-block" id="menu-toggler" ng-click="navbarCollapsed = !navbarCollapsed">
		<span class="sr-only">Toggle navigation</span>
		<i class="ti-view-grid"></i>
	</a>
</div>
<!-- end: NAVBAR HEADER -->
<!-- start: NAVBAR COLLAPSE -->
<div class="navbar-collapse collapse" collapse="navbarCollapsed" ng-init="navbarCollapsed = true" off-click="navbarCollapsed = true" off-click-if='!navbarCollapsed' off-click-filter="#menu-toggler">
	<ul class="nav navbar-left" ct-fullheight="window" data-ct-fullheight-exclusion="header" data-ct-fullheight-if="isSmallDevice">
		<!-- start: USER OPTIONS DROPDOWN -->
		<div class="alert alert-info">
			<strong>Versión 3.0</strong>
		</div>
		<div class="alert alert-danger" ng-if="InvestigacionEnCurso">
			<strong>En investigación ... {{Empresa}}</strong>
		</div>
		<div class="alert alert-danger" ng-if="ContactoEnCurso">
			<strong>En llamada ...</strong>
		</div>
		<!-- end: USER OPTIONS DROPDOWN -->
	</ul>
	<ul class="nav navbar-right" ct-fullheight="window" data-ct-fullheight-exclusion="header" data-ct-fullheight-if="isSmallDevice">
		<!-- start: USER OPTIONS DROPDOWN -->
		<li class="dropdown current-user" dropdown on-toggle="toggled(open)">
			<a href class="dropdown-toggle" dropdown-toggle>
				<img src="assets/images/darhe.jpg" alt="{{user.name}}"> <span class="username">{{user.shortname}} <i class="ti-angle-down"></i></i></span>
			</a>
			<ul class="dropdown-menu dropdown-dark">
				<li>
					<a ng-controller="LoginController" ng-click="count = count + 1; logout();" ng-init="count=0">
						Cerrar Sesión
					</a>
				</li>
			</ul>
		</li>
		<!-- end: USER OPTIONS DROPDOWN -->
	</ul>
</div>
<!-- end: NAVBAR COLLAPSE -->
<!-- start: TOP NAVBAR -->
